table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
    max-width: 40vh;
    text-align: left;
    
}

table td.right, th.right{
    border-right: 1px solid black;
}

table td.left, th.left{
    border-left: 2px solid black;
}

table td.down, th.down{
    border-bottom: 1px solid black;
}

table td.up, th.up{
    border-top: 1px solid black;
}

table td.all, th.all{
    border: 1px solid black;
}

table td:nth-child(2){
    background-color: rgba(255, 255, 255, 0.637);
}
table td:nth-child(1){
    background-color: rgba(255, 255, 255, 0.637);
}
tr td{
    padding: 5px;
}